<app-app-header [title]="'Empleados'"> </app-app-header>

<ion-content [fullscreen]="true">
  <div class="empleados-section">
    
    <div class="empleados-card" routerLink="/detalles-empleados">
      <div class="empleados-info">
        <div class="img-container">
          <img src="assets/imgs/empleados/Elipse 155@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="empleados-title">Carlos Gómez Vázquez</p>
          <p class="empleados-detail">Empresa nombre 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="empleados-card" >
      <div class="empleados-info">
        <div class="img-container">
          <img src="assets/imgs/empleados/Elipse 156@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="empleados-title">Julián Casas López</p>
          <p class="empleados-detail">Empresa nombre 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="empleados-card" >
      <div class="empleados-info">
        <div class="img-container">
          <img src="assets/imgs/empleados/Elipse 157@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="empleados-title">Marcos Leda Martinez</p>
          <p class="empleados-detail">Empresa nombre 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="empleados-card" >
      <div class="empleados-info">
        <div class="img-container">
          <img src="assets/imgs/empleados/Elipse 158@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="empleados-title">Christian Ríos Matas</p>
          <p class="empleados-detail">Empresa nombre 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

  </div>
</ion-content>
