
<ion-content [fullscreen]="true" >
 
  <div class="header">
    <ion-toolbar class="custom-toolbar">
  
  
      <div class="custom-header">
        <div class="header-content">
          <ion-button class="back-button" fill="solid"  (click)="goBack()">
            <ion-icon class="icono" slot="start" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
          </ion-button>
         
  
  
        </div>
      </div>
    </ion-toolbar>
  </div>
  
    <div class="full-container">

      <div class="employee-card">
        <div class="section personal-info">
          <h3>Datos personales del inquilino:</h3>
          <div class="info-row">
            <span class="label">Nombre completo</span>
            <span class="value">Ana Pérez Gálvez</span>
          </div>
          <div class="info-row">
            <span class="label">DNI</span>
            <span class="value">000 000 000 Z</span>
          </div>
          <div class="info-row">
            <span class="label">Fecha de nacimiento</span>
            <span class="value">05/05/1990</span>
          </div>
          <div class="info-row">
            <span class="label">Email</span>
            <span class="value">ana.p.g&#64;correo.es</span>
          </div>
          <div class="info-row">
            <span class="label">Teléfono</span>
            <span class="value">+34 000 000 000</span>
          </div>
          <div class="info-row">
            <span class="label">Ocupación</span>
            <span class="value">Arquitecta</span>
          </div>
          <div class="info-row">
            <span class="label">Mascota</span>
            <span class="value">No hay</span>
          </div>
        </div>
        <div class="section job-info">
          <h3>Información del contrato:</h3>
          <div class="info-row">
            <span class="label">Fecha de inicio del contrato</span>
            <span class="value">10/01/2024</span>
          </div>
          <div class="info-row">
            <span class="label">Fecha de fin del contrato</span>
            <span class="value">10/01/2025</span>
          </div>
          <div class="info-row">
            <span class="label">Renta mensual</span>
            <span class="value">1.500 €</span>
          </div>
          <div class="info-row">
            <span class="label">Forma de pago</span>
            <span class="value">Transferencia</span>
          </div>
          <div class="info-row">
            <span class="label">Fianza depositada</span>
            <span class="value">1.500 €</span>
          </div>
        </div>

        <div class="section doc-info">
          <h3>Documentación aportada:</h3>

          <div class="doc-row">
            <span class="label">DNI-Ana-P-G.pdf</span>
            <img src="assets/imgs/cruz.png" alt="Eliminar" class="delete-icon" />
          </div>

          <div class="doc-row">
            <span class="label">Vida_Laboral.pdf</span>
            <img src="assets/imgs/cruz.png" alt="Eliminar" class="delete-icon" />
          </div>
          </div>
      </div>
      


  
    </div>
  
  
  </ion-content>
  