.card-content{
    height: 110px;
    width: 100%;
    background:#1A1D1A;
    border-radius: 10px;
    margin-top: 5%;
    
}

.card-content-1{
    height: 110px;
    width: 100%;
    background:#1A1D1A;
    border-radius: 10px;
    margin-top: 5%;
    border: 1px solid #B7A44F;
    
}

.all-text{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding-top: 1%;
}

.all-text-1{
    width: 90%;
    margin-left: 5%;
    padding-top: 1%;
}



.text{
    color: #848383;
    font-size: 15px;
    font-family: Manrope-Regular;
}

.text-1{
    color: white;
    font-size: 15px;
    font-family: Manrope-Regular;
}

.time{
    color: #848383;
    font-size: 14px;
    font-family: Manrope-Regular;
}

.time-1{
    color: white;
    font-size: 14px;
    font-family: Manrope-Regular;
}