<app-app-header [title]="'Configurar mis datos'"> </app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="card-content-1">
    <div class="all-text-1">
<p class="text-1">
  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
</p>

<p class="time-1">
  Hace 1 hora
</p>
</div>
  </div>

  <div class="card-content">
    <div class="all-text">
    <p class="text">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </p>
    
    <p class="time">
      Hace 2 horas
    </p>
  </div>
      </div>

      <div class="card-content">
        <div class="all-text">
        <p class="text">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        </p>
        
        <p class="time">
        Hace 2 horas
        </p>
      </div>
          </div>
  
</ion-content>
