<app-app-header [title]="'Inmobiliaria'"> </app-app-header>

<ion-content [fullscreen]="true">
  <div class="turistic-section">
    
    <div class="turistic-card" routerLink="/detalles-inmobiliaria">
      <div class="turistic-info">
        <div class="img-container">
          <img src="assets/imgs/INMOBILIARIA/Rectángulo 19890@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="turistic-title">Piso 2</p>
          <p class="turistic-detail">C/ Nombre Prueba 2,2</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="turistic-card" >
      <div class="turistic-info">
        <div class="img-container">
          <img src="assets/imgs/INMOBILIARIA/Rectángulo 19892@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="turistic-title">Piso 1</p>
          <p class="turistic-detail">C/ Nombre Prueba 1, 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

  </div>
</ion-content>
