
<app-loading [text]="'Cargando perfil...'" *ngIf="isLoading"></app-loading>

<ion-content class="ion-padding" *ngIf="!isLoading">
  
<div class="image-content">

  <img class="image-profile" src="../../../assets/imgs/Elipse148@3x.png" alt="">

</div>

<div class="title-content">

  <p class="name">Juan Galván</p>

  <p class="union-date">Te uniste el 12/05/2023</p>

</div>

<div class="card-content" routerLink="/configurar-mis-datos">
  <div class="content-icon-p">
  <div class="content-icon">
    <ion-icon class="wheel" src="../../../assets/icons/Trazado49390.svg"></ion-icon>
  </div>

  <p class="description-icon">Configurar mis datos</p>
</div>
  <ion-icon class="arrow" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
</div>

<div class="card-content-2" routerLink="/privacy-policy">
  <div class="content-icon-p">
  <div class="content-icon">
    <ion-icon class="wheel" src="../../../assets/icons/Trazado49392.svg"></ion-icon>
  </div>

  <p class="description-icon">Política de Privacidad</p>
</div>
  <ion-icon class="arrow" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
</div>

<div class="card-content-3">
  <div class="content-icon-p">
  <div class="content-exit">
    <ion-icon class="exit" src="../../../assets/icons/ArrowExit.svg"></ion-icon>
  </div>

  <p class="description-icon" >Salir de la cuenta</p>
</div>
  <ion-icon class="arrow" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
</div>


</ion-content>