<app-app-header [title]="'Recordar contraseña'"> </app-app-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
  <h1>{{'FORGOT_PASSWORD.TITLE' | translate }}</h1>
  <div class="info">
  <P class="subtitle">{{'FORGOT_PASSWORD.SUBTITLE' | translate }} </P>
  <P class="subtitle">{{'FORGOT_PASSWORD.SUBTITLE2' | translate }} </P>
</div>
</div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()" >
    <ion-item lines="none" class="email">
      <ion-input type="email" placeholder="{{'FORGOT_PASSWORD.EMAIL' | translate }}" formControlName="email">
        <ion-icon slot="start" src="assets/icons/email.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button class="send-button" type="submit" expand="block">{{'FORGOT_PASSWORD.SEND' | translate }}</ion-button>
  </form>
</ion-content>