ion-tabs {
  ion-tab-bar {
      --ion-tab-bar-background: #1C1B19 !important; 
      --color-selected: #B7A44F; 
      
      --background: #1C1B19; 
      font-family: Manrope-Medium;
      font-size: 11px; 
      padding-bottom: 22px; 
      padding-top: 5px; 
      box-shadow: 0 -3px 10px #0D0D0C; 
      border: none; 

      ion-tab-button {
          display: flex; 
          flex-direction: column;
          align-items: center; 
          justify-content: center; 
          --color: #6C6F6C; /* Color del texto no seleccionado */
          flex: 1; 
        

          ion-icon {
              
              height: 23px; 
              width: 23px; 
              font-size: 25px; 
             
          }

          ion-label {
              font-size: 11px; 
              margin-top: 4px; 
          }

          &.ion-selected {
              --color: #B7A44F !important; /* Color del texto seleccionado */

              ion-icon {
                --color: #B7A44F !important; /* Color del ícono cuando está seleccionado */
              }
          }
      }
  }
}
