ion-toolbar{

    height: 135px;
    padding: 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;

    .header-text {
        display: flex;
        flex-direction: column;
       
        
    }

    

    h2 {
        font-size: 20px;
        font-family: Manrope-SemiBold;
        margin-top: -5px;
    }
}

ion-content{


    h1{

        font-size: 14px;
        font-family: Manrope-Medium;
        color: #B7A44F; 
    }

    .chart-container {
        background: linear-gradient(180deg, #181A18, #2C2E2C);
        box-shadow: 0px 5px 10px #0D0C0C; /* Sombra paralela */
        border: 1px solid #2A2A2A;
        border-radius: 10px;
        margin-top:0px;
        margin-bottom: 15px;
        padding: 15px;
       
      }

      .total-money{
        font-size: 25px;
        font-family: Manrope-SemiBold;
        color: #ffffff; 
        margin-top: 0;

      }

      .gains{
        margin-top: 9px;
        font-size: 14px;
        font-family: Manrope-SemiBold;
        color: #45B456; 
      }

 
      .chart-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        padding-left: 0; /* Elimina padding izquierdo si lo hay */
        margin-right: 10px; /* Elimina margen izquierdo si lo hay */
        
      }
      
    
  

      .segment-button-checked{


        --ion-color-step-350:transparent !important;
        color:#ffffff
     }

     ion-segment {
        display: flex; /* Asegúrate de que sea flexible */
        background-color: transparent;
        gap: 6px; /* Ajusta a 0 si no deseas espacio adicional */
        justify-content: flex-start; 
        
        
        
    }
    
    ion-segment-button {
        color: #D9D9D9;
        font-weight: bold;
        --background-checked: #B7A44F;
        --box-shadow: none !important;
        min-width: unset;
        width: 55px; /* Ajusta el ancho según lo necesites */
        --background: #4B4D4B;
        font-size: 13px;
        font-family: Manrope-SemiBold;
        padding: 0; /* Asegúrate de que el padding sea cero */
      
        
    }
    
      .chart-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      

      .item-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;
      }
      
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #FFFFFF; /* Cambia este color si el fondo de tu aplicación es oscuro */
        font-size: 12px;
        font-family: Lato;
      }
      
      .color-box {
        width: 16px;
        height: 16px;
        border-radius: 5px; /* Esto le da bordes redondeados */
        margin-right: 10px;
       
       
      }
      .grafico{

       margin-top: 40px;
      }


      .investment-section {
        h2 {
          font-size: 16px;
          color: #B7A44F;
          font-family: Manrope-Medium;
          margin-bottom: 15px;
        }
      
        .investment-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #1C1B19;
          border-radius: 10px;
          padding: 10px 15px;
          margin-bottom: 10px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      
          .investment-info {
            display: flex;
            align-items: center;
            flex-grow: 1;  
            
      
            .icon-circle {
              width: 40px;  // Tamaño de la esfera
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #31312F; // Color de fondo de la esfera
              border-radius: 50%; // Hace que el contenedor sea circular
              margin-right: 10px;
      
              ion-icon {
                height: 25px;
                width: 25px;
                color: #2C2E2C; // Color del ícono dentro de la esfera
              }
            }
            .investment-title {
              font-size: 15px;
              font-family: Manrope-Medium;
              color: #FFFFFF;
              margin-bottom: 6px;
            }
      
            .investment-detail {
              font-size: 13px;
              font-family: Manrope-Medium;
              color: #A8A8A8;
              margin-top: 0;
            }
          }
      
          .investment-amount {
            text-align: right;
            margin-right: 20px;
      
            p {
              margin: 0;
              font-size: 15px;
              color: #FFFFFF;
              font-family: Manrope-SemiBold;
      
              &.positive-gain {
                color: #45B456; // Color para ganancias positivas
              }
      
              &.negative-gain {
                color: #FF4D4D; // Color para pérdidas
              }
            }
          }
          .arrow-icon {
          height: 25px;
          width: 25px;
            color: #B7A44F;
            margin-left: auto;
          }
        }
        
      }
      
    
}