<ion-header class="ion-no-border" *ngIf="!showError">
 
</ion-header>

<app-error-view 
  *ngIf="showError" 
  [errorCode]="errorCode" 
  [errorMessage]="errorMessage"
  (retryFunction)="submitForm()"
  (backPage)="backPage()"
  >
</app-error-view>

<ion-content *ngIf="!showError"  class="ion-padding ion-text-center">
  <div class="logo ion-text-center">
    <ion-icon class="logo" src="assets/icons/jdv-logo.svg"></ion-icon> 
   
  </div>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <h1> Login </h1>
      <p class="title">Completa tus datos para acceder a la app</p>
      
      <ion-item  lines= none>
        <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" >
          <ion-icon slot="start" class="email-icon" src="assets/icons/email.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines= none>
        <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}" >
          <ion-icon slot="start" class="password-icon" src="assets/icons/password.svg"></ion-icon>
        
        </ion-input>
      </ion-item>

  <div class="access-container">
      <p routerLink="/forgot-password"> He olvidado mi contraseña</p>
      <ion-button expand="block" type="submit" [disabled]="!form.valid" routerLink="/tabs/inicio">Entrar</ion-button>
    </div>
    </form>

   
</ion-content>