ion-content{
    //background-size: cover;
    //--background:url('/assets/imgs/base-background.jpg');

    .title{
        margin-top:16px;
        margin-bottom: 32px;
        font-family: Manrope-Regular;
        font-size:18px;
    }

    h1{

        margin-top: 80px;
        font-size: 30px;
        font-family: Manrope-Bold;

    }

    ion-button{
        text-transform: none;
    }

    .logo{
        margin:0 auto;
        margin-top: 40px;
       
            width: 105px;
            height: 70px; 
        
        
    }
  
    ion-item {
        --background: #1F211F;
        color: white;
        margin-top: 16px;
        --border-radius: 10px;
    }
    
   
    ion-item:focus-within ion-icon {
        color: #FFFFFF; /* Cambia el color del ícono a blanco cuando el input esté enfocado */
    }
    
    ion-input {
        height: 55px;
        font-size: 15px;
    }
    
   .email-icon {
        color: #AAAAAA; /* Color inicial del icono */
        height: 11px;
        width: 13px;
    }

    ion-item ion-icon {
        margin-left: 10px;
    }

    .password-icon{
        color: #AAAAAA; 
        height: 14px;
        width: 14px;
    }
    
   .access-container {

       margin-top: 30px;

       p{

        color: #B7A44F;
        font-size:14px;
        font-family: Manrope-SemiBold;
        text-decoration: underline; 
       }
    }
  
       
    }


