
<ion-content [fullscreen]="true" >
 
  <div class="header">
    <ion-toolbar class="custom-toolbar">
  
  
      <div class="custom-header">
        <div class="header-content">
          <ion-button class="back-button" fill="solid"  (click)="goBack()">
            <ion-icon class="icono" slot="start" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
          </ion-button>
         
  
  
        </div>
      </div>
    </ion-toolbar>
  
    <div class="full-container">
  
  
    <div class="info-section">
      <h3>Datos de la vivienda de alquiler:</h3>
      <div class="data-item">
        <span class="label">Nombre</span>
        <span>Piso 2</span>
      </div>
      <div class="data-item">
        <span class="label">Ubicación completa</span>
        <span>C, Nombre Prueba, 1, Jerez de la Frontera (Cádiz), 11400</span>
      </div>
    </div>
    
    <!-- Sección de datos financieros -->
    <div class="financial-data">
      <h3>Datos financieros:</h3>
     
      <div class="data-item">
        <span class="label">Renta mensual</span>
        <span>750 €</span>
      </div>
      <div class="data-item">
        <span class="label">Gastos fijos</span>
      
        <div class="label2-container">
          <span class="label2">Comunidad</span>
          <div class="price-container">
            <span class="price">100€</span>
          </div>
        </div>
      
        <div class="label2-container">
          <span class="label2">IBI</span>
          <div class="price-container">
            <span class="price">235€</span>
          </div>
        </div>
      
        <div class="label2-container">
          <span class="label2">Seguro del hogar</span>
          <div class="price-container">
            <span class="price">687€</span>
          </div>
        </div>
      </div>

      <div class="data-item">
        <span class="label">Gastos fijos</span>
      
        <div class="label2-container">
          <span class="label2">Reparaciones</span>
          <div class="price-container">
            <span class="price">965€</span>
          </div>
        </div>
      
        <div class="label2-container">
          <span class="label2">Mantenimiento</span>
          <div class="price-container">
            <span class="price">500€</span>
          </div>
        </div>
      
    
      </div>
      
    
      <div class="data-item">
        <span class="label">Ingresos totales</span>
        <span>9.870 € / al año</span>
      </div>
      <div class="data-item">
        <span class="label">Gastos totales</span>
        <span>2.560 € / al año</span>
      </div>
      <div class="data-item">
        <span class="label">Beneficio neto</span>
        <span>7.310 € / al año</span>
      </div>
      <div class="data-item">
        <span class="label">Rentabilidad:</span>
        <span>55%</span>
      </div>
    </div>
  
  
    <div class="financial-data">
      <h3>Información de inquilinos:</h3>
      <div class="data-item">
        <span class="label">Inquilinos actuales</span> 
      </div>
      
      <div class="proveedores-container">
        <div class="turistic-card">
          <div class="turistic-info">
            <div class="img-container">
              <img src="assets/imgs/Elipse 155@3x.png" alt="Icono empresa" class="img" />
            </div>
            <div class="card-info">
              <p class="turistic-title">Ana Pérez Gálvez</p>
              <div class="data">
                <img src="assets/icons/Trazado 49469.png" alt="Correo" class="icon" />
                <span>ana.p.g&commat;correo.es</span>
              </div>
              <div class="data">
                <img src="assets/icons/Trazado 49470.png" alt="Teléfono" class="icon" />
                <span>+34 000 000 000</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="data-item">
        <span class="label">Duración del contrato</span>
      
        <div class="label2-container">
          <span class="label2">Fecha de inicio</span>
          <div class="price-container">
            <span class="price">10/01/2024</span>
          </div>
        </div>
        <div class="label2-container">
          <span class="label2">Fecha de fin</span>
          <div class="price-container">
            <span class="price">10/01/2025</span>
          </div>
        </div>
      </div>
      <div class="data-item">
        <span class="label">Fianza depositada</span>
        <span>1.500 €</span>
      </div>

    </div>
  </div>
  </div>
  
  </ion-content>
  