
<ion-content [fullscreen]="true" >
 
  <div class="header">
    <ion-toolbar class="custom-toolbar">
  
  
      <div class="custom-header">
        <div class="header-content">
          <ion-button class="back-button" fill="solid"  (click)="goBack()">
            <ion-icon class="icono" slot="start" src="../../../assets/icons/arrow-to-down-right-svgrepo-com.svg"></ion-icon>
          </ion-button>
         
  
  
        </div>
      </div>
    </ion-toolbar>
  </div>
  
    <div class="full-container">

      <div class="employee-card">
        <div class="section personal-info">
          <h3>Datos personales del trabajador</h3>
          <div class="info-row">
            <span class="label">Nombre completo</span>
            <span class="value">Carlos Gómez Vázquez</span>
          </div>
          <div class="info-row">
            <span class="label">Email</span>
            <span class="value">carlos.gomez&#64;correo.prueba</span>
          </div>
          <div class="info-row">
            <span class="label">Teléfono</span>
            <span class="value">+34 000 000 000</span>
          </div>
          <div class="info-row">
            <span class="label">Fecha de nacimiento</span>
            <span class="value">20/04/1981</span>
          </div>
          <div class="info-row">
            <span class="label">Dirección</span>
            <span class="value">C/ Nombre Prueba, 1, 1D, Jerez de la Frontera (Cádiz), 11400</span>
          </div>
        </div>
        <div class="section job-info">
          <h3>Información laboral</h3>
          <div class="info-row">
            <span class="label">Cargo</span>
            <span class="value">Jefe de departamento</span>
          </div>
          <div class="info-row">
            <span class="label">Departamento</span>
            <span class="value">Marketing</span>
          </div>
          <div class="info-row">
            <span class="label">Fecha de contratación</span>
            <span class="value">02/04/2016</span>
          </div>
          <div class="info-row">
            <span class="label">Jornada laboral</span>
            <span class="value">8:00-18:00 horas</span>
          </div>
          <div class="info-row">
            <span class="label">Salario</span>
            <span class="value">1.800 € (21.600 €/ anual)</span>
          </div>
        </div>

        <div class="section doc-info">
          <h3>Documentación aportada:</h3>

          <div class="doc-row">
            <span class="label">DNI-Carlos.pdf</span>
            <img src="assets/imgs/cruz.png" alt="Eliminar" class="delete-icon" />
          </div>

          <div class="doc-row">
            <span class="label">Titulo_Universitario.pdf</span>
            <img src="assets/imgs/cruz.png" alt="Eliminar" class="delete-icon" />
          </div>
          </div>
      </div>
      


  
    </div>
  
  
  </ion-content>
  