<app-app-header > </app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="investment-section">
   
    <div class="investment-card">
      <div class="investment-info">
        <div class="icon-circle">
          <ion-icon src="assets/icons/Building Bank.svg"></ion-icon>
        </div>
        <div>
          <p class="investment-title">Financiero</p>
          <p class="investment-detail">35% del total</p>
        </div>
      </div>
      <div class="investment-amount">
        <p>70.000 €</p>
        <p class="positive-gain">+1.000 € ▲ +10%</p>
      </div>
    </div>
  </div>
  

  <div class="chart-header">
    <h2>Rentabilidad histórica</h2>
  </div>
  <div class="chart-container"> 
  <div class="chart-content">
      
    <canvas id="lineChart2" class="grafico"></canvas>

  </div>

  <ul class="item-list">
    <li class="item">
      <span class="color-box" style="background-color: #B8A44F;"></span>
      A&B
    </li>
    <li class="item">
      <span class="color-box" style="background-color: #5CA1DC;"></span>
      Indx A&B 400
    </li>
    <li class="item">
      <span class="color-box" style="background-color: #0A4E88;"></span>
      App Inc.
    </li>
    <li class="item">
      <span class="color-box" style="background-color: #AFD7F8;"></span>
      S.E Ab
    </li>
  </ul>
  
  </div>

     


 
  
</ion-content>
