<app-app-header [title]="'Inquilinos'"> </app-app-header>

<ion-content [fullscreen]="true">
  <div class="empleados-section">
    
    <div class="empleados-card" routerLink="/detalles-inquilinos">
      <div class="empleados-info">
        <div class="img-container">
          <img src="assets/imgs/Elipse 155@3x.png" alt="Imagen-casa" class="img" />
      </div>
        <div>
          <p class="empleados-title">Ana Pérez Gálvez</p>
          <p class="empleados-detail">Piso alquiler 1</p>
        </div>
      </div>
      
      <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>
    </div>

   
  </div>
</ion-content>
