<ion-content>


  <div class="swiper mySwiper">
    
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <ion-icon class="logo" src="assets/icons/jdv-logo.svg"></ion-icon> 

      </div>
      <div class="swiper-slide background-slide" routerLink="/login">
        <div class=" swiper-container">
        <ion-icon class="logo" src="assets/icons/jdv-logo.svg"></ion-icon> 
        
        <p> Tu patrimonio <span class="bold-text"> a tu medida</span></p>
      </div>
      <ion-button class="start-button"> Empezar</ion-button>

      </div>

      
    </div>

  </div>


  
</ion-content>